.tamanho{
    height: 991px;
}
.text-mobile{
    color: #EC6922;
    text-shadow: 0 0 5px #e9cab9, 0 0 10px #ec9f75, 0 0 15px #e99568, 0 0 20px #eb8852, 0 0 30px #eb8852, 0 0 40px #eb8852, 0 0 55px #eb8852, 0 0 75px #e6773c, 2px 2px 2px rgba(0,0,0,0);
}
.video-container{
    width: 800px;
}
.display-video{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.youtube{
    width: 100%;
}
.youtube-obg{
    width: 70%;
    height: 50vh;
}
.input-custom{
    display: inline-block;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    padding: 10px 150px;
    border: 2px solid #EC6922;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -o-text-overflow: clip;
    text-overflow: clip;
    background: rgba(252,252,252,1);
    -webkit-box-shadow: 3px 3px 15px 0 rgba(180,180,180,1) ;
    box-shadow: 3px 3px 15px 0 rgba(180,180,180,1) ;
    -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
    transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
}

@media all and (min-width:320px) and (max-width:667px){
    .video-container{
        width: 100%;
    }
    .tamanho{
        height: 700px !important;
    }
    .posicao{
        background-position: 81% center !important;
    }
}